

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    color: rgb(218, 218, 218);
    font-family: sans-serif;
    padding: 0 15px;
    background-color: rgb(41, 41, 41);

}

hr{
    margin-bottom: 10px;
    margin-top: 5px;
}

.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;

    & #city_input{
        background-color: rgba(63, 63, 63, 0.61);
        border: none;
        padding: 12px;
        font-size: 16px;
        border-radius: 25px;
        color: #fff;
        &:focus{
            outline: none;
        }
    }

    & #Btn_search{
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 25px;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
    }

    & #Btn_location{
        border: none;
        font-size: 16px;
        padding: 12px;
        border-radius: 25px;
        background-color: rgba(252, 109, 27, 0.815);
        cursor: pointer;
    }
}

.card{
    background-color: rgb(59, 59, 59);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    & p{
        font-size: 14px;
        color: rgb(172, 172, 172);
    }
    & h2{
        font-size: 32px;
        font-weight: 500;
    }
}

/* 
Grid is main display method of this project 
It can split the screen into different parts    
grid-template-columns: repeat(4,1fr);  =>  change the number of columns

*/

.weather_data{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
    & .weather_left{
        grid-column: span 1;
        & .current_weather{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        & h2{
            margin: 7px 0;
        }
        & p{
            color: #fff;
            line-height: 1.5;
        }
    }
    & .card_footer i{
        padding-right: 10px;
    }
    & .card_footer p{
        font-size: 14px;
        margin-bottom: 12px;
    }
    & .forecast_item{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        place-items: center;
        margin-bottom: 15px;
        & .icon_wrapper{
            display: flex;
            align-items: center;
        }
    }
    & .weather_right{
        grid-column: span 3;
        & h2{
            margin-bottom: 10px;
        }
        & .highlights{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            column-gap: 15px;
            & > .card:nth-of-type(1),& > .card:nth-of-type(2){
                grid-column: span 2;
            }
            & .card_head{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                & .air_index{
                    color: black;
                    padding: 5px 10px;
                    border-radius: 15px;
                    &.aqi-1{
                        background-color: rgb(94, 255, 0);
                    }
                    &.aqi-2{
                        background-color: rgb(255, 238, 0);
                    }
                    &.aqi-3{
                        background-color: rgb(255, 153, 0);
                    }
                    &.aqi-4{
                        background-color: rgb(255, 123, 0);
                    }
                    &.aqi-5{
                        background-color: rgb(255, 81, 0);
                    }
                }
            }
            & .air_indices{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                place-items: center;
                & p{
                    text-align: center;
                    font-size: 20px;
                    text-decoration: underline;
                    line-height: 1.5;
                }
            }
            
            & .hourly_forecast{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                column-gap: 25px;
                & .card{
                    text-align: center;
                }
                & p{
                    font-size: 14px;
                    text-decoration: underline;
                    line-height: 1.5;

                }
            }
        
            & .card_item{
                display: flex;
                justify-content: space-between;
                & h2{
                    text-decoration: underline;
                }
            }
        }
    }
}


/* Zoom Change part (After 660px is Mobile phone part)*/

@media(max-width:1100px){
    .weather_data{
        grid-template-columns: repeat(3,1fr);
        & .weather_right{
            grid-column: span 2;
            & .highlights{
                grid-template-columns: repeat(3,1fr);
                & .card:nth-of-type(1){
                    grid-column: span 3;
                }
            }
            & .hourly_forecast{
                grid-template-columns: repeat(6,1fr);
            }
        }
    }
}

@media(max-width:1040px){
    .weather_data{
        grid-template-columns: repeat(2,1fr);
        & .weather_right{
            grid-column: span 1;
            & .highlights{
                grid-template-columns: repeat(2,1fr);
                & .card:nth-of-type(1){
                    grid-column: span 2;
                }
            }
            & .hourly_forecast{
                grid-template-columns: repeat(4,1fr);
            }
        }
    }
}

@media(max-width:992px){
    .weather_data .weather_right .highlights{
        & .card{
            grid-column: span 2;
        }
        & .air_indices{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

@media(max-width: 850px){
    .weather_data {
        grid-template-columns: 1fr;
        & .card:nth-of-type(3),
        & .card:nth-of-type(4),
        & .card:nth-of-type(5),
        & .card:nth-of-type(6),
        & .card:nth-of-type(7){
            grid-column: span 1;
        }
        & .air_indices{
            grid-template-columns: repeat(5,1fr);
        }
    }
}

@media(max-width: 660px){
    .header {
        flex-direction: column;
    
        & h2{
            margin-bottom: 8px;
        }
        & #city_input, #Btn_search, #Btn_location{
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

@media(max-width:580px){
    .weather_data .weather_right .highlights .air_indices{
        grid-template-columns: repeat(4,1fr);
    }
}

@media(max-width:520px){
    .weather_data .weather_right .highlights .air_indices{
        & .card:nth-of-type(3),
        & .card:nth-of-type(4),
        & .card:nth-of-type(5),
        & .card:nth-of-type(6),
        & .card:nth-of-type(7){
        grid-column: span 2;
        }
        & .air_indices{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

@media(ax-width: 480px){
    .weather_data .weather_right .highlights .sunrise_sunset {
        grid-template-columns: 1fr;
    }
}

@media(ax-width: 450px){
    .weather_data .weather_right .hourly_forecast {
        grid-template-columns: repeat(3,1fr);
    }
}

@media(ax-width: 380px){
    .weather_data .weather_right .highlights .air_indices {
        grid-template-columns: repeat(2,1fr);
    }
}